.isActive {
  background-image: url("../public/img/background.jpg");
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.isActive .mainNav {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: center;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  @apply px-6;
}

.navButton {
  border: 5px solid transparent;
  padding: 10px;
}

.navButton:focus {
  outline: none;
}

.navButton:focus-visible {
  border: 5px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.scrollingItem {
  align-items: center;
  display: flex;
  height: 5.5rem;
  white-space: nowrap;
}

.isActive .iconClose {
  display: block;
}

.isActive .iconHamburger {
  display: none;
}

.isActive .socialMedia {
  justify-content: space-between;
  display: flex;
  fill: currentColor;
}

.scrolling {
  animation: marquee 15s linear infinite;
  display: inline-block;
  padding-right: 8px;
}

.scrollingSpeakers {
  animation: marquee 20s linear infinite;
  display: inline-block;
  padding-right: 8px;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.scrollingItem:hover .scrolling,
.scrollingItem:hover .scrollingSpeakers {
  animation-play-state: paused;
}
@screen md {
  .isActive .mainNav {
    font-size: 4.5rem;
  }

  .scrollingItem {
    height: 8rem;
  }
}
