/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: "Plex";
    font-weight: 400;
    src: url("../public/fonts/IBMPlexSans-Regular.ttf") format("truetype");
  }
  @font-face {
    font-display: swap;
    font-family: "Plex";
    font-weight: 700;
    src: url("../public/fonts/IBMPlexSans-Bold.ttf") format("truetype");
  }
  @font-face {
    font-display: swap;
    font-family: "Plex Mono";
    font-weight: 400;
    src: url("../public/fonts/IBMPlexMono-Regular.ttf") format("truetype");
  }
  @font-face {
    font-display: swap;
    font-family: "Plex Mono";
    font-style: italic;
    font-weight: 400;
    src: url("../public/fonts/IBMPlexMono-Italic.ttf") format("truetype");
  }
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  @apply text-white;
  @apply bg-gray-900;
}

.cursor {
  background: radial-gradient(
    circle,
    rgb(212, 114, 154) 0%,
    rgba(3, 3, 3, 1) 50%
  );
  width: 24.25rem;
  height: 24.25rem;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 20;
  transition: opacity ease 0.15s, transform ease 0.15s, left ease-out 0.15s,
    top ease-out 0.15s;
}

.cursor--hidden {
  opacity: 0;
}

.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(1.25);
}

.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.9);
}

.speakers-grid::before {
  content: "";
  @apply bg-white;
  display: block;
  position: absolute;
  height: 1px;
  margin-bottom: 5px;
  top: 0;
  width: 100%;
  transition-duration: 0.25s;
  transition-property: transform;
  transform-origin: top;
  transform: scaleY(1);
}

.speakers-grid {
  position: relative;
}

.speakers-grid:hover::before {
  transform: scaleY(6);
}

.speakers-grid img {
  filter: grayscale(1);
}

.speakers-grid:hover img {
  filter: grayscale(0);
}

.summaryWrap {
  list-style-type: none;
}

.summaryWrap::-webkit-details-marker,
.summaryWrap::marker {
  display: none;
}

@screen lg {
  .summaryDetail,
  .summaryDetail2Col {
    margin-left: 33vw;
  }
}

@screen xl {
  .summaryDetail {
    margin-left: 0;
  }

  .summaryDetail2Col {
    margin-left: 29.5vw;
  }
}
